/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

/* MAIN CONTAINER */
.container {
    background: #fff;
    padding: 20px 25px;
    width: 380px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* TITLE */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* STATS */
#stats {
    font-size: 14px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    background: #f0f0f0;
    padding: 8px 10px;
    border-radius: 6px;
}

#stats span {
    font-weight: bold;
}

/* INPUT AREA */
.input-row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

#addBtn {
    padding: 10px 16px;
    background: #111;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#addBtn:hover {
    background: #333;
}

/* TASK LIST */
#taskList {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* EACH TASK ITEM */
#taskList li {
    background: #fafafa;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #e3e3e3;
}

/* TEXT */
#taskList li span {
    flex: 1;
    font-size: 15px;
}

/* DELETE BUTTON */
#taskList li button {
    padding: 5px 10px;
    background: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#taskList li button:hover {
    background: #da0101;
}

/* COMPLETED TASK STYLE */
.completed {
    text-decoration: line-through;
    opacity: 0.6;
}